@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap');
body {
  margin: 0;
  background-color: #4529B6;
  color: whitesmoke;
  font-family: 'Montserrat', sans-serif;
}
.title{
  font-weight: 800;
  font-size: 240%;
}

.circle{
  width:6vh;
  height:6vh;
  border-radius: 3vh;
  background-color: #ee6e05;
  position:relative;
  left:14vw;
  top:-4vw
}
.timeline{
  height:3vh;
  width:110vw;
  position: relative;
  left:20vw;
}
.card{
  width:80vw;
  height:80vh;
  margin-left: 13vw;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}
.bound{
  height: 150px;
}
.flex-gap{
  gap:10px;
}
.flex{
  display: flex;
}
.flex-vertical{
  flex-direction: column;
}
.flex-centre{
  justify-content: center;
  text-align: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.logo-intro{
  width:100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

