/* General timeline styling*/
.timeline-scroller{
    display:grid;
    grid-auto-flow:column;
    grid-auto-columns: 70%;
    gap:8vw;


    overflow-x: auto;
    overscroll-behavior-inline: contain;

    padding:3vh 0 12vh 10vw;
    height:83vh;
    text-align: center;
}
.snaps-inline{
    scroll-snap-type: inline mandatory;
}
.snaps-inline > * {
    scroll-snap-align: center;
    /*scroll-padding-inline: 7vw;*/
}
/* Individual styling*/
.timeline-group{
    /* grid-template-rows: min-content; */
    display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr 3% 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "timeline-top"
    "line-group"
    "timeline-bottom"; 
    padding:2vh 3vw 2vh 3vw;
    inline-size: 100%;
}




.line-group{
    background-color: whitesmoke;
   /* border-top: 3px ridge rgb(38, 0, 109);
    border-bottom: 3px ridge rgb(38, 0, 109); */
    height:3vh;
    
}

.line-group-start{
    width:70vw;
    border-left: 3px ridge white;
    border-top-left-radius: 3vw;
    border-bottom-left-radius: 3vw;
}

.circle-group{
    width:6vh;
    height:6vh;
    background-color: whitesmoke;
    border: 3px solid rgb(143, 40, 0);
    border-radius: 2.5vh;
}

/* Logo styling*/
.top-right{
    height:3vh;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top:1vh
    
}

/* Grid layout*/

.timeline-top { 
    grid-area: timeline-top;
 }
.timeline-bottom { 
    grid-area: timeline-bottom;
    border:2px solid hotpink;
    border-radius: 5px;

    background-color: rgb(22, 0, 83);
    box-shadow: 5px 5px rgba(22, 0, 83, 0.356);

    margin-top: 4vh; }
.line-group { grid-area: line-group; }